<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<title>onclick</title>
<script>
function calculate() {
	let exp = document.getElementById("exp");
	let result = document.getElementById("result");
	result.value = eval(exp.value);
}

function cal(){
        x=document.getElementById("xNum").value;
        y=document.getElementById("yNum").value;
    
        x=Number(x);
        y=Number(y);
        
        document.getElementById("demo1").innerHTML="덧셈결과: "+(x+y);
        document.getElementById("demo2").innerHTML="뺄셈결과: "+(x-y);
        document.getElementById("demo3").innerHTML="곱셈결과: "+(x*y);
        document.getElementById("demo4").innerHTML="나눗셈결과: "+(x/y);
    }
</script>
</head>
<body >
<h3> 사칙연산 계산기 만들기</h3>
<p>
  <form>
  <label for="xNum">x Num:</label><br>
  <input type="text" id="xNum" name="xxNum"><br>
  <label for="yNum">y Num:</label><br>
  <input type="text" id="yNum" name="yyNum"><br>
  <input type="button" onclick="cal()" value="계산"><br>
  </form>
  </p>
  <p id="demo1"></p>
  <p id="demo2"></p>
  <p id="demo3"></p>
  <p id="demo4"></p>
<hr>
<h3> onclick, 계산기 만들기</h3>
계산하고자 하는 수식을
입력하고 계산 버튼을 눌러봐요.
<br>
<br>
<form>
식 <input type="text" id="exp" value=""><br>
값 <input type="text" id ="result"> 
<input type="button" value=" 계산  "
	onclick="calculate()">
</form>
</body>
</html>
