<!DOCTYPE html>
<html>
<head>
<title>ASCII Converter</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../styles.css">
</head>
<body>
<h2>ASCII Decimal Converter</h2>

<h3>Convert Character to ASCII Decimal</h3>
<input type="text" id="inputChar" maxlength="1" placeholder="Enter a single character">
<button onclick="charToASCII()">Convert</button>
<p id="charOutput"></p>

<h3>Convert ASCII Decimal to Character</h3>
<input type="number" id="inputASCII" placeholder="Enter an ASCII value (0 - 127)">
<button onclick="asciiToChar()">Convert</button>
<p id="asciiOutput"></p>
<br><br>

<h2>ASCII to Binary Converter</h2>

<h3>Convert Character to ASCII Binary</h3>
<input type="text" id="inputChar" maxlength="1" placeholder="Enter a single character">
<button onclick="charToASCIIBinary()">Convert</button>
<p id="charOutput"></p>

<h3>Convert ASCII Binary to Character</h3>
<input type="text" id="inputASCIIBinary" placeholder="Enter a binary value">
<button onclick="asciiBinaryToChar()">Convert</button>
<p id="asciiOutput"></p>

<script>
function charToASCII() {
  var character = document.getElementById("inputChar").value;
  if (character.length !== 1) {
    document.getElementById("charOutput").innerHTML = "Please enter a single character.";
    return;
  }
  var ascii = character.charCodeAt(0);
  document.getElementById("charOutput").innerHTML = "The ASCII value of '" + character + "' is: " + ascii + ".";
}

function asciiToChar() {
  var ascii = document.getElementById("inputASCII").value;
  if (ascii < 0 || ascii > 127) {
    document.getElementById("asciiOutput").innerHTML = "Please enter a value between 0 and 127.";
    return;
  }
  var character = String.fromCharCode(ascii);
  document.getElementById("asciiOutput").innerHTML = "The character for ASCII value " + ascii + " is: '" + character + "'.";
}

function charToASCIIBinary() {
  var character = document.getElementById("inputChar").value;
  if (character.length !== 1) {
    document.getElementById("charOutput").innerHTML = "Please enter a single character.";
    return;
  }
  var asciiBinary = character.charCodeAt(0).toString(2);
  document.getElementById("charOutput").innerHTML = "The ASCII binary of '" + character + "' is: " + asciiBinary + ".";
}

function asciiBinaryToChar() {
  var asciiBinary = document.getElementById("inputASCIIBinary").value;
  if (asciiBinary.match(/^[01]+$/) === null) {
    document.getElementById("asciiOutput").innerHTML = "Please enter a valid binary value.";
    return;
  }
  var ascii = parseInt(asciiBinary, 2);
  if (ascii < 0 || ascii > 127) {
    document.getElementById("asciiOutput").innerHTML = "Please enter a binary value corresponding to an ASCII value between 0 and 127.";
    return;
  }
  var character = String.fromCharCode(ascii);
  document.getElementById("asciiOutput").innerHTML = "The character for ASCII binary value " + asciiBinary + " is: '" + character + "'.";
}
</script>

</body>
</html>
