<!DOCTYPE html>
<html>
<head>
<title>My First Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>
  <h2>정보</h2>
  <p>
    ‘정보(Informatics)’과는 인공지능으로 정의되는 사회에서 데이터와 정보로 인한 디지털 세상의 변화를 인식하고, 정보의 사회적 가치를 탐구하며, 정보를 처리하는 다양한 원리와 기술에 기반한 컴퓨팅 사고력을 바탕으로 실생활 및 다양한 학문 분야의 문제를 해결하는 능력과 태도를 기르는 교과이다. ‘정보’는 디지털 대전환 시대의 국가⋅사회적 요구에 부응하여, 컴퓨팅을 활용한 문제 해결을 위해 사회 구성원이 갖추어야 할 필수 역량을 제공한다. ‘정보’의 학문적 기저는 컴퓨터에서 처리되는 데이터와 정보의 원리, 컴퓨팅 시스템을 설계하고 구현하는 기술과 방법, 정보를 다루는 인간 사회에 대한 이해 등을 포괄하고 있다. 즉, ‘정보’는 컴퓨터과학뿐 아니라 데이터 과학, 인공지능, 정보기술, 정보시스템, 소프트웨어 공학 등의 분야를 포괄하는 정보학에 대한 기본 개념과 원리를 기반으로 다양한 학문 분야와 미래 사회의 문제를 해결하는 데 도움이 되는 지식과 기술을 함양한다. 교과의 이러한 특성은 사회 각 분야에서 요구되는 소프트웨어와 인공지능에 대한 기본 소양을 갖추고, 공학뿐만 아니라 자연과학, 인문⋅사회과학, 예술과 체육 등 다양한 학문 분야에서 문제를 창의적으로 해결하는 인재 양성에 도움을 준다. 
  </p>

<header>
  <h2 id="header">내용 체계</h2>
</header>

<section>
  <nav>
    <ol>
      <li><a href="#ai1">컴퓨팅 시스템</a></li>
      <li><a href="#ai2">데이터</a></li>
      <li><a href="#ai3">알고리즘과 프로그래밍</a></li>
      <li><a href="#ai4">인공지능</a></li>
      <li><a href="#ai5">디지털 문화</a></li>
    </ol>
  </nav>
  
  <article>
    <h1 id="ai1">컴퓨팅 시스템</h1>
    <table>
        <tr>
          <td id="ttitle">핵심 아이디어</td>
          <td>
            <ul>
                <li>하드웨어와 소프트웨어의 유기적 연결을 통해 동작하는 컴퓨팅 시스템은 사회적, 기술적 가치를 높이는 데 활용된다.</li>
                <li>컴퓨팅 시스템을 설계하는 것은 시스템에 대한 전체 흐름과 자원 할당의 가치를 이해하는 데 도움을 준다.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">지식⋅이해</td>
          <td>
            <ul>
                <li>컴퓨팅 시스템의 동작 원리 </li>
                <li>운영 체제의 기능 </li>
                <li>피지컬 컴퓨팅의 개념 </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">과정⋅기능</td>
          <td>
            <ul>
                <li>컴퓨팅 시스템의 구성요소를 파악하고, 동작 원리를 운영 체제와 관계짓기</li>
                <li>생활 속에서 피지컬 컴퓨팅이 적용된 사례 조사하기</li>
                <li>피지컬 컴퓨팅 시스템 구성하기</li>
            </ul>
          </td>
        </tr>
        <tr>
            <td id="ttitle">가치⋅태도</td>
            <td>
                <ul>
                    <li>컴퓨팅 시스템의 필요성과 가치를 판단하는 자세</li>
                    <li>피지컬 컴퓨팅 시스템의 구성요소를 목적에 맞게 선택하는 유연한 태도</li>
                </ul>
            </td>
          </tr>
    </table>
    <p style="text-align: right;"><a href="#header">top</a></p>
    <h1 id="ai2">데이터</h1>
    <table>
        <tr>
          <td id="ttitle">핵심 아이디어</td>
          <td>
            <ul>
                <li>데이터를 관리하기 위해서는 아날로그 데이터를 컴퓨터에서 처리할 수 있는 디지털 형태로 변환하는 과정이 필요하다.</li>
                <li>문제 해결을 위해서는 필요한 데이터를 수집하고, 분석하여 의미를 해석하는 것이 필요하다.</li>
                <li>수집된 데이터 간의 관계를 파악하고, 구조화하는 것은 데이터를 통해 새로운 지식을 찾는 데 도움을 준다.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">지식⋅이해</td>
          <td>
            <ul>
                <li>디지털 데이터 표현 방법</li>
                <li>데이터 수집과 관리 </li>
                <li>데이터 구조화 및 해석 </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">과정⋅기능</td>
          <td>
            <ul>
                <li>다양한 데이터를 디지털 데이터로 표현하기</li>
                <li>데이터를 목적에 맞게 수집⋅분류⋅저장하기</li>
                <li>데이터를 구조화하고 의미 해석하기</li>
            </ul>
          </td>
        </tr>
        <tr>
            <td id="ttitle">가치⋅태도</td>
            <td>
                <ul>
                    <li>실생활의 많은 데이터가 디지털 형태로 변환되어 활용되는 긍정적 측면의 인식</li>
                    <li>데이터에 기반하여 현상을 바라보는 관점</li>
                </ul>
            </td>
          </tr>
    </table>
    <p style="text-align: right;"><a href="#header">top</a></p>
    <h1 id="ai3">알고리즘과 프로그래밍</h1>
    <table>
        <tr>
          <td id="ttitle">핵심 아이디어</td>
          <td>
            <ul>
                <li>알고리즘은 다양한 설계 전략을 통해 일상생활의 문제를 해결하는 데 활용된다.</li>
                <li>자동화를 고려해 설계된 알고리즘은 컴퓨터가 이해할 수 있는 언어로 구현되어 생활을 더욱 편리하게 하는 데 활용된다.</li>
                <li>프로그램 개발은 협력이 필요하며, 공유하는 문화를 통해 더 좋은 프로그램이 개발된다.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">지식⋅이해</td>
          <td>
            <ul>
                <li>문제 추상화</li>
                <li>알고리즘 표현 방법</li>
                <li>순차적인 데이터 저장</li>
                <li>논리 연산</li>
                <li>중첩 제어 구조</li>
                <li>함수와 디버깅</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">과정⋅기능</td>
          <td>
            <ul>
                <li>문제의 초기 상태, 현재 상태, 목표 상태를 정의하고 해결 가능한 형태로 구조화하기</li>
                <li>문제 해결을 위한 다양한 알고리즘을 설계하고 적용하기</li>
                <li>논리 연산, 중첩 제어 구조, 순차적인 데이터 저장을 활용하여 프로그램 작성하기</li>
                <li>함수를 활용하여 프로그램을 모듈화하고, 프로그램의 오류를 발견하여 수정하기</li>
            </ul>
          </td>
        </tr>
        <tr>
            <td id="ttitle">가치⋅태도</td>
            <td>
                <ul>
                    <li>문제 분석을 통한 추상화의 중요성을 이해하고, 실생활 문제 해결을 실천하는 자세</li>
                    <li>문제 해결을 위한 다양한 해법을 탐색하고, 명확하게 알고리즘으로 표현하는 자세</li>
                    <li>소프트웨어를 통한 협력과 공유의 가치</li>
                    <li>프로그램의 효과성을 분석하고, 프로그램의 오류를 해결하려는 자세</li>
                </ul>
            </td>
          </tr>
    </table>
    <p style="text-align: right;"><a href="#header">top</a></p>
    <h1 id="ai4">인공지능</h1>
    <table>
        <tr>
          <td id="ttitle">핵심 아이디어</td>
          <td>
            <ul>
                <li>인공지능 기술로 구현된 에이전트는 외부와의 상호 작용을 통해 기존에 해결할 수 없었던 복잡하고 어려운 문제를 해결하는 데 활용된다.</li>
                <li>인공지능은 데이터를 기반으로 문제 해결을 가능하게 하므로, 인공지능에 사용되는 데이터는 윤리적 편향성이 없도록 하는 것이 중요하다.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">지식⋅이해</td>
          <td>
            <ul>
                <li>인공지능의 개념과 특성</li>
                <li>인공지능 시스템</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">과정⋅기능</td>
          <td>
            <ul>
                <li>인공지능 소프트웨어 구별하기</li>
                <li>인공지능 학습에 필요한 데이터를 수집하여 활용하기</li>
                <li>인공지능 시스템을 활용하여 해결할 수 있는 문제 발견하기</li>
                <li>인공지능 시스템을 선택하여 문제 해결하기</li>
            </ul>
          </td>
        </tr>
        <tr>
            <td id="ttitle">가치⋅태도</td>
            <td>
                <ul>
                    <li>인공지능 시스템에서 적용 가능한 문제를 발견하는 자세</li>
                    <li>인공지능 학습에서 데이터로 인한 문제 가능성을 최소화하는 태도</li>
                </ul>
            </td>
          </tr>
    </table>
    <h1 id="ai5">디지털 문화</h1>
    <table>
        <tr>
          <td id="ttitle">핵심 아이디어</td>
          <td>
            <ul>
                <li>디지털 기술의 발전에 따라 디지털 사회에서 지켜야 할 규칙과 주의해야 할 위험 요소가 새롭게 등장한다.</li>
                <li>디지털 세상에서의 직업이나 진로는 기술의 발전에 따라 변화되므로, 기술과 사회 변화의 관계를 파악하는 것이 중요하다.</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">지식⋅이해</td>
          <td>
            <ul>
                <li>디지털 사회와 직업</li>
                <li>디지털 윤리</li>
                <li>개인 정보와 저작권</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td id="ttitle">과정⋅기능</td>
          <td>
            <ul>
              <li>디지털 사회의 특성에 따른 직업의 변화 탐구하기</li>
              <li>디지털 공간에서 지켜야 하는 윤리 토론하기</li>
              <li>디지털 공간에서 나와 다른 사람을 보호하는 방법 탐구하기</li>
            </ul>
          </td>
        </tr>
        <tr>
            <td id="ttitle">가치⋅태도</td>
            <td>
                <ul>
                    <li>디지털 사회로의 변화가 나의 삶과 진로 결정에 미치는 영향력을 탐색하는 자세</li>
                    <li>디지털 공간에서 함께 살아가기 위한 윤리적인 태도</li>
                </ul>
            </td>
          </tr>
    </table>
    <p style="text-align: right;"><a href="#header">top</a></p>
  </article>
</section>

</body>
</html>

