<!DOCTYPE html>
<html>
<head>
<title>My First Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../styles.css">
</head>
<body>
  <div id="menu">
    <div id="menu1">
        <a href="e1.htm" target="iframe_exer_sub">연산</a>
     </div>
    <div id="menu2">
        <a href="e2.htm" target="iframe_exer_sub">그림판</a>
    </div>
    <div id="menu3">
        <a href="e3.htm" target="iframe_exer_sub">메뉴3</a>
    </div>
    <div id="menu4">
        <a href="e4.htm" target="iframe_exer_sub">메뉴4</a>
    </div>
    <div id="menu5">
        <a href="e5.htm" target="iframe_exer_sub">메뉴5</a>
    </div>
    <div id="menu6">
        <a href="e6.htm" target="iframe_exer_sub">메뉴6</a>
    </div>
</div> 
</body>
</html>

