<!DOCTYPE html>
<html>
<head>
  <style>
    #banner {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100px;
      background-color: #f2f2f2;
      border: 1px solid #000;
    }

    #banner a {
      text-decoration: none;
      color: #000;
      font-size: 20px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div id="banner">
    <a href="https://form.office.naver.com/form/responseView.cmd?formkey=MzMzMWRjMzEtOTczOC00NjExLWJjOWYtYWY0ZGU5ZTRiYzA0&sourceId=urlshare">
      단재고 정상 개교 촉구 서명
    </a>
  </div>
</body>
</html>
