<!DOCTYPE html>
<html>
<head>
<title>My First Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>
<h2>자료와 정보</h2>
<p>SNS에서의 글, 채팅에서의 대화, 웹 사이트에서의 검색 등 컴
  퓨팅 기기에서 수집되는 방대한 양의 자료 속에서 유용한 정보를
  찾아내 분석하는 것은 문제 해결 방법을 찾는 데 있어서 매우 중
  요하다.
  이 단원에서는 목적과 특성에 따른 자료와 정보의 효율적인 디
  지털 표현 방법을 살펴본다. 또 컴퓨팅 도구를 이용하여 자료와
  정보를 수집·분석·관리하는 방법에 대해서도 학습한다</p>

<section>
  <nav>
    <ol>
      <li><a href="./2-1/_21._.html" target="article-frame">디지털 데이터와 진법 표현</a></li>
      <li><a href="./2-2/_22._.html" target="article-frame">진법과 진법변환</a></li>
      <li><a href="./2-3/_23._.html" target="article-frame">숫자와 문자의 디지털 표현</a></li>
      <li><a href="./2-4/_24._.html" target="article-frame">그림과 소리의 디지털 표현</a></li>
      <li><a href="./2-5/_25._.html" target="article-frame">효율적인 파일 압축 방식</a></li>
    </ol>
  </nav>
  
  <article>
    <iframe name="article-frame" style="width: 100%; height: 800px;"></iframe>
  </article>
</section>

</body>
</html>
