<!DOCTYPE html>
<html>
<head>
<title>My First Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>
<h2>문제 해결과 프로그래밍</h2>
<p>
  우리는 일상생활에서 접하는 여러 문제를 해결하는 과정 속에
서 분석적 시각을 기르고, 논리적인 사고를 경험한다.
이 단원에서는 우리 주변에서 발생하는 다양한 문제를 분석적
으로 이해하고, 최적의 해결 방법을 찾기 위한 방법에 대해 살펴
본다. 또 프로그래밍 과정을 통해 소프트웨어로 구현하여 문제를
직접 해결해 본다.
</p>

<section>
  <nav>
    <ol>
      <li><a href="" target="article-frame">문제 해결과 해결 전략</a></li>
      <li><a href="" target="article-frame">프로그래밍</a></li>
      <li><a href="http://54.180.96.9/" target="_blank">실습(codeup)</a></li>
    </ol>
  </nav>
  
  <article>
    <iframe name="article-frame" style="width: 100%; height: 800px;"></iframe>
  </article>
</section>

</body>
</html>

