<!DOCTYPE html>
<html>
<head>
<title>My First Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>
<h2>컴퓨팅 시스템</h2>
<p>
  요즘에는 집 밖에서 인터넷을 통해 집 안에 있는 보일러를 켜기
도 하고, 혼자 있는 애완동물에게 먹이를 주기도 한다. 이런 일들
은 어떻게 가능한 걸까?
이 단원에서는 컴퓨팅 시스템의 구성과 작동 원리를 학습하고,
효율적인 자원 관리 방법에 대해 알아본다. 또 실생활 및 다양한
학문 분야의 문제를 피지컬 컴퓨팅 장치를 활용해 창의적으로 해
결해 본다.
</p>

<section>
  <nav>
    <ol>
      <li><a href="./4-1-1/_411._.html" target="article-frame">4-1-1 운영체제</a></li>
      <li><a href="./4-1-2/_412._.html" target="article-frame">4-1-2 자원관리</a></li>
      <li><a href="./4-1-3/_413..html" target="article-frame">4-1-3 유무선 네트워크</a></li>
      <li><a href="./4-1-4/_414..html" target="article-frame">4-1-4 네트워크 환경설정</a></li>
      <li><a href="https://makecode.microbit.org/" target="_blank">피지컬 컴퓨팅(마이크로비트)</a></li>
      <li><a href="https://blog.naver.com/PostThumbnailList.nhn?isHttpsRedirect=true&blogId=roboholic84&from=postList&categoryNo=38" target="article-frame">피지컬 컴퓨팅(아두이노)</a></li>
      <li><a href="https://blog.naver.com/PostThumbnailList.nhn?isHttpsRedirect=true&blogId=roboholic84&from=postList&categoryNo=44" target="article-frame">피지컬 컴퓨팅(라즈베리파이)</a></li>
    </ol>
  </nav>
  
  <article>
    <iframe name="article-frame" style="width: 100%; height: 800px;"></iframe>
  </article>
</section>

</body>
</html>