<!DOCTYPE html>
<html>
<head>
<title>My First Website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>
<h2>대체수업자료</h2>
<p>
  시험 범위에 나오는 부분을 유튜브에서 찾아 대체수업자료로 제공합니다
</p>

<section>
  <nav>
    <ol>
      <li><a href="https://www.youtube.com/watch?v=lFoqd5aNYlc" target="_blank">2-2 진법변환</a></li>
      <li><a href="https://www.youtube.com/watch?v=TvpBEXOMitE" target="_blank">2-3 숫자의 음수 표현</a></li>
      <li><a href="https://www.youtube.com/watch?v=j5jWZwvdtK8" target="_blank">2-3 컴퓨터의 덧셈과 뺄셈(뺄셈은 시험 범위 제외)</a></li>
      <li><a href="https://www.youtube.com/watch?v=HXsBUI_K6kA" target="_blank">2-3 아스키코드와 유니코드</a></li>
      <li><a href="https://www.youtube.com/watch?v=3gyCZpqi6OM" target="_blank">4-1-2 FCFS</a></li>
      <li><a href="https://www.youtube.com/watch?v=eLsf6qHZGzc" target="_blank">4-1-2 SJF</a></li>
      <li><a href="https://www.youtube.com/watch?v=39d5MlDpDe0" target="_blank">4-1-2 RoundRobin</a></li>
      <li><a href="" target="article-frame">-----------------------------</a></li>
      <li><a href="https://www.youtube.com/watch?v=7t5sxAL-KxE" target="_blank">4-1-2 (이론) 자원관리</a></li>
      <li><a href="https://www.youtube.com/watch?v=tdrAOLEqoLs" target="_blank">4-1-2 (과제)FCFS</a></li>
      <li><a href="https://www.youtube.com/watch?v=29EICqD3LMU" target="_blank">4-1-2 (과제)SJF</a></li>
      <li><a href="https://www.youtube.com/watch?v=33u4dzr8Gyo" target="_blank">4-1-2 (과제)RoundRobin</a></li>
    </ol>
  </nav>
  
  <article>
    <iframe name="article-frame" style="width: 100%; height: 800px;"></iframe>
  </article>
</section>

</body>
</html>