<!DOCTYPE html>
<html>
<head>
<title>공지사항</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="styles.css">
</head>
<body>
  <h2>공지사항</h2>
  <p>
    2023년 1학년 정보 수업을 위한 페이지입니다.<br>
    메뉴를 통해서 각 수업의 학습자료를 얻을 수 있고<br>
    가장 오른쪽에 있는 실습 메뉴를 통해 수업 시간에 배운 내용을 실습할 수 있습니다.<br>
    아래에는 수업 공지 및 평가 안내 페이지입니다.<br>
  </p>

<header>
  <h2 id="header">평가계획</h2>
</header>

<section>
  <nav>
    <ol>
      <li><a href="#ai1">수업공지</a></li>
      <li><a href="#ai2">지필평가(기말고사)</a></li>
      <li><a href="#ai3">수행평가</a></li>
    </ol>
  </nav>
  
  <article>
    <h1 id="ai1">수업공지</h1>
    <p>
      1학기 정보 수행평가 비율 정정이 있습니다.<br>
      정보과제 발표 10점(기존 20점), 문제해결 30점(기존 20점)<br>
      평가계획을 홈페이지에 올리는 과정에서 작년 자료가 잘못 올라갔습니다.<br>
    </p>
    <p style="text-align: right;"><a href="#header">top</a></p>
    
    <h1 id="ai2">지필평가</h1>
    <p>
      일시: 2023년 6월 30일<br>
      범위: <br>
      교과서(1단원(전체), 2단원(50~53), 4단원(180~188))
      유인물
      1단원 1-1, 1-2, 1-3, 1-4 정보 사회 전부<br>
      2단원 2-1 디지털 데이터와 진법 표현, 2-2 진법과 진법 변환, 2-3 숫자의 디지털 표현(뺄셈 제외), 2-3 문자의 디지털 표현 등 수업 시간에 배운 내용 일부<br>
      4단원 4-1-1 컴퓨팅시스템, 4-1-2 자원관리<br>

    </p>
    <p style="text-align: right;"><a href="#header">top</a></p>
    <h1 id="ai3">수행평가</h1>
    <p>
      (1) 정보과제발표<br>
        일시: 4,5월 중<br>
        미실시자: 6월 9일 금요일 1교시 예정<br>
        <br>
      (2) 문제해결<br>
        일시: 6월 12~16일 중<br>
        범위: 2단원 디지털 데이터와 진법 표현, 진법과 진법 변환<br>
        시간: 20분<br>
        문항: 20~25문항<br>
        <br>
      (3) 학습과제해결<br>
        일시: 상시<br>
        수업 시간 중 제출된 과제 및 수업 시간의 성실도<br>
    </p>
    <p style="text-align: right;"><a href="#header">top</a></p>
    <h1 id="ai1">정보과 평가 계획</h1>
    <p>
      1학기 평가 계획<br>
      <img src="./img/2023_1_ai_test001.jpg" alt="정보과 1학기 평가계획" style="width: 1000px;height:1200px;">
    </p>
      <p style="text-align: right;"><a href="#header">top</a></p>
    
  </article>
</section>

</body>
</html>

