<!DOCTYPE html>
<html>
<head>
    <title> My HTML page</title>
    <link rel="stylesheet" href="styles_test.css">
</head>

<body>
<script>
    x=0;
    y=0;
    x=Number(prompt("x는",x));
    y=Number(prompt("y는",y));
    /*
    alert(x+y);
    alert(x-y);
    alert(x*y);
    alert(x/y);
    */
    document.wrtie(x+y)
</script>
    <header>
        <h2>Welcome to Informatics</h2>
    </header>
    <div id="cards">
        <div id="card1">
            <a href="https://www.chungbuk.ac.kr/site/www/main.do" target="iframe_1">정보</a>
        </div>
        <div id="card2">
            <a href="pre1.htm" target="iframe_1">발표</a>
        </div>
        <div id="card3">인공지능기초</div>
        <div id="card4">데이터 과학</div>
        <div id="card5">정보 과학</div>
    </div>  
    <section>
    
    <iframe id="fr01" name="iframe_1">
        
        

    </iframe>
    </section>    
      
    <footer>
        <p>Footer</p>
    </footer>

</body>

</html>
