<!DOCTYPE html>
<html>
<head>
    <title> My HTML page</title>
    <link rel="stylesheet" href="styles_test.css">
</head>

<body>
    

    <header>
        <h2>Cities</h2>
    </header>
    <div id="cards">
        <div id="card1">
            <a href="https://www.chungbuk.ac.kr/site/www/main.do" target="iframe_1">충북대</a>
        </div>
        <div id="card2">
            <a href="pre1.htm" target="iframe_1">발표</a>
        </div>
        <div id="card3">바지</div>
        <div id="card4">양말</div>
        <div id="card5">악세사리</div>
    </div>  
    <section>
        <nav>
          <ul>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
          </ul>
        </nav>
    
        <article>
            <h1> 첫번째 웹페이지 h1 </h1>
            <h2> 다음 문장 h2 </h2>
            <h2 id="n2"> 다음 문장 h3 </h2>
            <h4> 다음 문장 h4 </h4>
            <h5> 다음 문장 h5 </h5>
        
            <p> p 여기는 패러그래프 문장입니다 p </p>
            <p>동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...
                동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...
            </p>
                    
            <table id="Company">
                <tr>
                  <th>Company</th>
                  <th>Contact</th>
                  <th>Country</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                </tr>
            </table>
        </article>
        <iframe id="fr01" name="iframe_1">

        </iframe>
        <article>
            <h1> 첫번째 웹페이지 h1 </h1>
            <h2> 다음 문장 h2 </h2>
            <h2 id="n2"> 다음 문장 h3 </h2>
            <h4> 다음 문장 h4 </h4>
            <h5> 다음 문장 h5 </h5>
        
            <p> p 여기는 패러그래프 문장입니다 p </p>
            <p>동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...
                동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...동해물과 백두산이 마르고 닳도록...
            </p>
                    
            <table id="Company">
                <tr>
                  <th>Company</th>
                  <th>Contact</th>
                  <th>Country</th>
                </tr>
                <tr>
                  <td>Alfreds Futterkiste</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                </tr>
                <tr>
                  <td>Centro comercial Moctezuma</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                </tr>
            </table>
        </article>
    </section>    
      
    <footer>
        <p>Footer</p>
    </footer>

</body>

</html>
